<form action="" class="form-control" (ngSubmit)="show()">
  <label for="">Team Id</label>
  <input type="number" class="form-control" name="tmId" [(ngModel)]="tmId" min="0">
  <button type="submit">Show</button>
</form>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th >Player Id</th><th >Player Name</th><th>Role></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of players; let i=index">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.role}}</td>
            
            <!-- <td><button class="btn btn-danger" (click)="delete(e.empno)">Delete</button></td>
            <td><button class="btn btn-sucees" style="color:white; background-color: green;" (click)="update(i)">Update</button></td> -->
        </tr>
    </tbody>
</table>
